.navbar{
    display: flex;
    justify-content:space-between;
    background-color: rgb(31, 97, 220);
    height: 100px;
    
   
}
.header{
    text-decoration: none;
    color: white;
    font-size:x-large;
    font-weight:bolder;
    letter-spacing: 1px;
}
.header:hover{
    color: white;
}
.headerdiv{
    margin: 30px;
    list-style: none;
}

.butons{
    display: flex;
    list-style-type: none;
    margin: 30px;
}
.login,.register{
    width: 90px;
    margin-right: 2rem;
    height: 40px;
    background-color: rgb(31, 97, 220);
    color: white;
    border: 1px solid white;
}
.login:hover{
    background-color: white;
    color: black;
    
}
.register:hover{
    background-color: white;
    color: black;
}